<section>
  <h1>About Me</h1>
  <p>Marko Milost - McLion <br />
  <img src="{{ 'mclion@gmail.com' | to_gravatar }}" /></p>
  <p>Več o meni si lahko preberete na:
  	<ul>
  		<li><a href="http://twitter.com/mclion" target="_blank">Twitter</a></li>
  		<li><a href="http://facebook.com/mclion"  target="_blank">Facebook</a></li>
  		<li><a href="http://google.com/profiles/mclion"  target="_blank">Google+</a></li>
  		<li><a href="https://github.com/mclion"  target="_blank">Github</a></li>

	</ul>
  </p>

</section>
