<section>
  <h1>O meni</h1>
  <p>Marko Milost - McLion <br />
  <img src="{{ 'mclion@gmail.com' | to_gravatar }}" /></p>
  <p>Več o meni na:
  	<ul>
  		<li><a href="https://twitter.com/mclion" target="_blank">Twitter</a></li>
  		<li><a href="https://google.com/profiles/mclion"  target="_blank">Google+</a></li>
		<li><a href="https://instagram.com/mmclion" target="_blank">Instagram</a></li>
		<li><a href="https://facebook.com/mclion"  target="_blank">Facebook</a></li>
  		<li><a href="https://github.com/mclion"  target="_blank">Github</a></li>
	</ul>
  </p>
</section>
