{% if site.instagram_user %}
<script type="text/javascript">
	var feed = new Instafeed({
    	get: 'user',
		user: '{{ site.instagram_user }}',
		userId: {{ site.instagram_userid }},
		target: 'instafeed',
        accessToken: '{{ site.instagram_token}}',
		sortBy: 'most-recent',
		limit: 5,
		resolution: 'low_resolution',
		template: '<a href="{{ "{{link"}} }}"><img src="{{ "{{image"}} }}" /></a><br>'
    });
    feed.run(); 
 </script>
<section>
  <h1>Zadnji instagrami</h1>
  <div id="instafeed"></div>
</section>
{% endif %}
